{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "extends": ["airbnb-typescript-prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "react/destructuring-assignment": 0,
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/no-unused-prop-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-len": ["error", { "code": 150 }],
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-use-before-define": "off"
  }
}
