@use './variables';

#contractor {
  height: 100%;
  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
      width: 25rem;
      .card-title {
        margin-top: 0.5rem;
      }
    }
  }
}

.contractor-modal.modal {
  .modal-dialog {
    height: calc(100% - 20px);
    margin: 10px auto 10px 10px;
    .modal-content {
      height: 100%;
    }
  }
  &.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(-500px, 0);
  }
  &.show .modal-dialog {
    transform: none;
}
}
